.flex-container {
    margin: 20px;
    padding-left: 20px;
}

.mrg {
    margin-right: 30px;
    font-size: 1.3em;
    width:8%;
}

.btn{
    margin-bottom: 10px;
}

.row{
    width:100%;
    margin-top: 15px;
}
.first{
    display: inline-block;
}

.fruits{
    display: inline-block;
}